@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@media print {
    .print\:hidden {
        display: none !important;
    }
    .print\:inline-block {
        display: inline-block !important;
    }
    .print\:p-0 {
        padding: 0 !important;
    }
    .print\:p-1 {
        padding: 0.1cm !important;
    }
    .print\:p-2 {
        padding: 0.2cm !important;
    }
    .print\:shadow-none {
        box-shadow: none !important;
    }


    h1.text-5xl {
        font-size: larger;
    }
    a.text-2xl {
        font-size: large;
        padding: 0;
    }
    h2.text-xl {
        font-size: large;
    }

    #skills > div {
        padding: 0;
        font-size: smaller;
    }
    #skills > span {
        font-size: smaller;
    }

}

@page {
    margin: 1cm 0.5cm 0.2em;
}